@import "tailwindcss";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1405 0.0044 285.8238);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1405 0.0044 285.8238);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1405 0.0044 285.8238);
  --primary: oklch(0.5101 0.2499 288.4179);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5680 0.1541 248.3385);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9676 0.0013 286.3752);
  --muted-foreground: oklch(0.5519 0.0137 285.9422);
  --accent: oklch(0.5101 0.2499 288.4179);
  --accent-foreground: oklch(0.5101 0.2499 288.4179);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9197 0.0040 286.3200);
  --input: oklch(0.9197 0.0040 286.3200);
  --ring: oklch(0.5101 0.2499 288.4179);
  --chart-1: oklch(0.5101 0.2499 288.4179);
  --chart-2: oklch(0.5680 0.1541 248.3385);
  --chart-3: oklch(0.7212 0.1711 154.6896);
  --chart-4: oklch(0.8421 0.1666 87.3239);
  --chart-5: oklch(0.6532 0.2114 353.9392);
  --sidebar: oklch(0.9879 0.0057 277.1801);
  --sidebar-foreground: oklch(0.1405 0.0044 285.8238);
  --sidebar-primary: oklch(0.5101 0.2499 288.4179);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.5101 0.2499 288.4179);
  --sidebar-accent-foreground: oklch(0.5101 0.2499 288.4179);
  --sidebar-border: oklch(0.9197 0.0040 286.3200);
  --sidebar-ring: oklch(0.5101 0.2499 288.4179);
  --font-sans: 'Exo 2', sans-serif;
  --font-serif: 'Roboto Slab', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.3rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 15px;
  --shadow-spread: -5px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(259 80% 55%);
  --shadow-2xs: 0px 8px 15px -5px hsl(259 80% 55.0000% / 0.05);
  --shadow-xs: 0px 8px 15px -5px hsl(259 80% 55.0000% / 0.05);
  --shadow-sm: 0px 8px 15px -5px hsl(259 80% 55.0000% / 0.10), 0px 1px 2px -6px hsl(259 80% 55.0000% / 0.10);
  --shadow: 0px 8px 15px -5px hsl(259 80% 55.0000% / 0.10), 0px 1px 2px -6px hsl(259 80% 55.0000% / 0.10);
  --shadow-md: 0px 8px 15px -5px hsl(259 80% 55.0000% / 0.10), 0px 2px 4px -6px hsl(259 80% 55.0000% / 0.10);
  --shadow-lg: 0px 8px 15px -5px hsl(259 80% 55.0000% / 0.10), 0px 4px 6px -6px hsl(259 80% 55.0000% / 0.10);
  --shadow-xl: 0px 8px 15px -5px hsl(259 80% 55.0000% / 0.10), 0px 8px 10px -6px hsl(259 80% 55.0000% / 0.10);
  --shadow-2xl: 0px 8px 15px -5px hsl(259 80% 55.0000% / 0.25);
  --tracking-normal: 0.02em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1300 0.0280 261.6920);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.1405 0.0044 285.8238);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.1405 0.0044 285.8238);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(0.7050 0.2130 47.6040);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.4320 0.2320 292.7590);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.2648 0.0054 286.0285);
  --muted-foreground: oklch(0.7119 0.0129 286.0684);
  --accent: oklch(0.2820 0.0910 267.9350);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2741 0.0055 286.0329);
  --input: oklch(0.2741 0.0055 286.0329);
  --ring: oklch(0.6033 0.2054 293.9454);
  --chart-1: oklch(0.5101 0.2499 288.4179);
  --chart-2: oklch(0.5680 0.1541 248.3385);
  --chart-3: oklch(0.7212 0.1711 154.6896);
  --chart-4: oklch(0.8421 0.1666 87.3239);
  --chart-5: oklch(0.6532 0.2114 353.9392);
  --sidebar: oklch(0.1507 0.0082 285.3802);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.5101 0.2499 288.4179);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.5101 0.2499 288.4179);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.2741 0.0055 286.0329);
  --sidebar-ring: oklch(0.6033 0.2054 293.9454);
  --font-sans: 'Exo 2', sans-serif;
  --font-serif: 'Roboto Slab', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.3rem;
  --shadow-x: 0px;
  --shadow-y: 10px;
  --shadow-blur: 25px;
  --shadow-spread: -8px;
  --shadow-opacity: 0.2;
  --shadow-color: hsl(259 80% 70%);
  --shadow-2xs: 0px 10px 25px -8px hsl(259 80% 70% / 0.10);
  --shadow-xs: 0px 10px 25px -8px hsl(259 80% 70% / 0.10);
  --shadow-sm: 0px 10px 25px -8px hsl(259 80% 70% / 0.20), 0px 1px 2px -9px hsl(259 80% 70% / 0.20);
  --shadow: 0px 10px 25px -8px hsl(259 80% 70% / 0.20), 0px 1px 2px -9px hsl(259 80% 70% / 0.20);
  --shadow-md: 0px 10px 25px -8px hsl(259 80% 70% / 0.20), 0px 2px 4px -9px hsl(259 80% 70% / 0.20);
  --shadow-lg: 0px 10px 25px -8px hsl(259 80% 70% / 0.20), 0px 4px 6px -9px hsl(259 80% 70% / 0.20);
  --shadow-xl: 0px 10px 25px -8px hsl(259 80% 70% / 0.20), 0px 8px 10px -9px hsl(259 80% 70% / 0.20);
  --shadow-2xl: 0px 10px 25px -8px hsl(259 80% 70% / 0.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}